*{
margin: 0;
padding:0;
}

body {
height: 100vh;
background: blueviolet;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0;
color: black;
}
.cabecalho{
padding: 2% 0% 0% 15%;
}
.cabecalho-menu{
display: flex;
gap: 80px;
}
.cabecalho-meni-link{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 24px;
font-weight: 600;
color: black;
text-decoration: none;
}